<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0">

	<!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|large"},"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"constrained"}} -->
	<header class="wp-block-group" style="padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--large)">

		<!-- wp:query-title {"type":"archive","textAlign":"center"} /-->
		<!-- wp:term-description {"textAlign":"center"} /-->

	</header>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"deltra/default-query-grid"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
