name: Deploy to WordPress.org
on:
  release:
    types: [published]
jobs:
  deploy:
    name: Deploy on release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: WordPress Theme Deploy
      id: deploy
      uses: kishanjasani/action-wordpress-theme-deploy@main
      with:
        generate-zip: true
      env:
        SVN_PASSWORD: ${{ secrets.WPORG_SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.WPORG_SVN_USERNAME }}
    - name: Upload ZIP to release
      uses: softprops/action-gh-release@v2
      with:
        files: ${{ steps.deploy.outputs.zip-path }}
